In [1]:
import pickle
import os
import pandas as pd
import numpy as np

In [2]:
model_path = r"D:\Bike_sharing\New folder\xgboost_regressor_r2_0.918_v1.pkl"
model = pickle.load(open(model_path, "rb"))

In [3]:
data = [[ 1.07807977,  0.22192612,  0.77468297,  1.82005277, -1.26200749,
       -0.25194272, -0.12916836, -0.17535463, -0.22754885, -5.47803337,
       -1.21546253,  1.00873202,  0.30459857,  1.74132735, -0.58152447,
       -0.57866842, -0.39840954, -0.40773843, -0.41815465, -0.40773843,
       -0.40559398, -0.41815465],
        [-0.65432992,  1.24504573,  0.23697162, -0.5001855 ,  0.56154562,
       -0.28664608, -0.12916836, -0.17535463, -0.22754885,  0.18254726,
        0.94712104,  0.14077827,  0.30459857, -0.57427456,  1.71961809,
       -0.57866842, -0.39840954, -0.40773843, -0.41815465, -0.40773843,
        2.4655198 , -0.41815465] 
]

prediction = model.predict(data)
list(prediction)

[166.30936, 1143.4257]

In [4]:
sc_dump_path = r"D:\Bike_sharing\New folder\sc.pkl"
sc = pickle.load(open(sc_dump_path, "rb"))

# User Input

In [5]:
date = "10/06/2023"
Hour = 21
Temperature = 25
Humidity = 55
Wind_speed = 67
Visibility = 25
Solar_Radiation = 0.0
Rainfall = 0.7
Snowfall = 0.2
Seasons = "Winter"
Holiday = "No Holiday"
Functioning_Day = "Yes"

# Converting User Data into Model Consumable Format

In [6]:
from datetime import datetime

Holiday_dic = {"No Holiday": 0, "Holiday":1}
functioning_day_dic = {"No":0, "Yes":1}

def get_string_to_datetime(date):
    dt = datetime.strptime(date, "%d/%m/%Y")
    return {"day": dt.day, "month": dt.month, "year":dt.year, "week_day": dt.strftime("%A")}

str_to_date = get_string_to_datetime(date)
str_to_date

{'day': 10, 'month': 6, 'year': 2023, 'week_day': 'Saturday'}

In [7]:
u_input_list = [Hour, Temperature, Humidity, Wind_speed, Visibility, Solar_Radiation, Rainfall, Snowfall,
               Holiday_dic[Holiday], functioning_day_dic[Functioning_Day],
                str_to_date["day"], str_to_date["month"], str_to_date["year"]]
features_name = ["Hour", 'Temperature(°C)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Solar Radiation (MJ/m2)',
       'Rainfall(mm)', 'Snowfall (cm)', 'Holiday', 'Functioning Day', 'Day','Month', 'Year']

df_u_input = pd.DataFrame([u_input_list], columns=features_name)
df_u_input

,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,Day,Month,Year
0,21,25,55,67,25,0.0,0.7,0.2,0,1,10,6,2023

In [8]:
u_input_list

[21, 25, 55, 67, 25, 0.0, 0.7, 0.2, 0, 1, 10, 6, 2023]

In [9]:
features_name

['Hour',
 'Temperature(°C)',
 'Humidity(%)',
 'Wind speed (m/s)',
 'Visibility (10m)',
 'Solar Radiation (MJ/m2)',
 'Rainfall(mm)',
 'Snowfall (cm)',
 'Holiday',
 'Functioning Day',
 'Day',
 'Month',
 'Year']

In [10]:

def season_to_df(seasons):
    seasons_cols = ["Spring", "Summer", "Winter"]
    seasons_data = np.zeros((1, len(seasons_cols)), dtype='int')

    df_seasons=pd.DataFrame(seasons_data, columns=seasons_cols)
    if seasons in seasons_cols:
        df_seasons[seasons]=1
    return df_seasons
df_seasons = season_to_df(Seasons)
df_seasons

   Spring  Summer  Winter
0       0       0       1

In [11]:
def days_df(week_day):
    days_names = ['Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']
    days_name_data = np.zeros((1, len(days_names)), dtype='int')
    
    df_days=pd.DataFrame(days_name_data, columns=days_names)
    
    if week_day in days_names:
        df_days[week_day]=1
    return df_days

df_days = days_df(str_to_date["week_day"])
df_days

   Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0       0         1       0         0        0          0

In [12]:
df_for_pred = pd.concat([df_u_input, df_seasons, df_days], axis=1)
df_for_pred

,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,Functioning Day,...,Year,Spring,Summer,Winter,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,21,25,55,67,25,0.0,0.7,0.2,0,1,...,2023,0,0,1,0,1,0,0,0,0

In [13]:
sc_data_for_pred = sc.transform(df_for_pred)
sc_data_for_pred

C:\Users\Sonit Prasad\anaconda3\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

array([[ 2.10000000e+01,  2.50000000e+01,  5.50000000e+01,
         6.70000000e+01,  2.50000000e+01, -1.72363392e-17,
         7.00000000e-01,  2.00000000e-01,  8.11121844e-18,
         1.00000000e+00,  1.00000000e+01,  6.00000000e+00,
         2.02300000e+03,  2.43336553e-17,  5.57646268e-17,
         1.00000000e+00, -4.05560922e-18,  1.00000000e+00,
        -4.05560922e-18, -7.09731614e-17,  4.46117014e-17,
        -4.05560922e-18]])

In [14]:
model.predict(sc_data_for_pred)

array([351.79074], dtype=float32)

In [15]:
print(f"Rented Bike Demand on date: {date}, and time: {Hour} is :{round(model.predict(sc_data_for_pred).tolist()[0])}")

Rented Bike Demand on date: 10/06/2023, and time: 21 is :352